<Configuration>
  <CodeCoverage>
    <SkipAutoProperties>false</SkipAutoProperties>
    <CollectFromChildProcesses>true</CollectFromChildProcesses>
    <UseVerifiableInstrumentation>true</UseVerifiableInstrumentation>
    <AllowLowIntegrityProcesses>true</AllowLowIntegrityProcesses>
    <ModulePaths>
      <Include>
        <ModulePath>.*[\\/]Extensions\.Hosting\.Avalonia\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.Identity\.EntityFrameworkCore\.Sqlite\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.Identity\.EntityFrameworkCore\.SqlServer\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.MainUIThread\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.Maui\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.PluginLoading\.Fixture\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.PluginLoading\.Reactive\.Fixture\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.Plugins\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.Plugins\.Reactive\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.PluginService\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.PluginService\.Reactive\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.ReactiveUI\.Avalonia\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.ReactiveUI\.Avalonia\.Reactive\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.ReactiveUI\.Maui\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.ReactiveUI\.Maui\.Reactive\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.ReactiveUI\.WinForms\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.ReactiveUI\.WinForms\.Reactive\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.ReactiveUI\.WinUI\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.ReactiveUI\.WinUI\.Reactive\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.ReactiveUI\.Wpf\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.ReactiveUI\.Wpf\.Reactive\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.SingleInstance\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.WinForms\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.WinUI\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Hosting\.Wpf\.dll$</ModulePath>
        <ModulePath>.*[\\/]Extensions\.Logging\.Log4Net\.dll$</ModulePath>
      </Include>
    </ModulePaths>
    <Sources>
      <Exclude>
        <Source>.*[\\/]obj[\\/].*</Source>
      </Exclude>
    </Sources>
  </CodeCoverage>
</Configuration>
